#fontcolors{
    color:rgb(126, 4, 4);
}
#back{
    background-image:url("../Images/book\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    
}
