.adbkupload{
    display:inline-block;
    text-align: left;
  }
  .adlgbtn1{
    text-decoration: none;
    color:whitesmoke;
    background-color: black;
    padding: 3px 10px;
    font-size: medium;
    font-weight: 100;  
    font-family: Arial, Helvetica, sans-serif;
  }
  .adlgbtnReset{
    text-decoration: none;
    color:whitesmoke;
    background-color:red;
    padding: 3px 10px;
    font-size: medium;
    font-weight: 100;  
    font-family: Arial, Helvetica, sans-serif;
  }

  hr{
    border: 6px solid black;
    border-radius: 3px;
    width: 50%;
  }