.adloinbox{
    display:inline-block;
    text-align: left;
}
.adlgbtn a{
    text-decoration: none;
    color:whitesmoke;
    background-color: black;
    padding: 1em 1.5em;

}
.adlgbtn a:hover{
    background-color: #434542;
}