body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(246, 244, 250, 0.966);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin:0;
  padding:20px 2px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(64, 59, 59);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

.dropdown-content a {
  /*float: none;*/
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
   .cart{
    /*float :right*/
    padding:5px;
     }

  nav {
      flex:1;
      text-align:right ;
  }
  .nav{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
  }
  .loginbtn{
    display :inline-block;
    background:rgb(71, 66, 66);
    color: #fff;
  }
    
   /* padding:8px 30px;
    margin:30px 0;
    border-radius:30px;*/
}
.dropdownbtn{
  border-style:none;
}










/*--------------Footer----------------------*/
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
}
.footer{
  background-color: rgb(49, 49, 49);
  margin-top: 30px;
}

.footer a{
  text-decoration: none;
}

.footer ul{
  list-style-type: none;
}

.footer-col1, .footer-col2, .footer-col3, .footer-col4{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.footer-col1{
  flex-basis: 20%;
}

.footer-col2{
  flex-basis: 20%;
  text-align: left;
}

.footer-col3{
  flex:20% ;
  display: inline-block;
}

.footer-col4{
  flex-basis: 40%;

}

.footer a, .footer p{
  color: white;
}

.footer hr{
  border: none;
  height: 2px;
  margin: 20px 0 5px 0;
  background-color: rgb(121, 121, 121);
}

.last-ele{
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.last-ele img{
  float: right;
  padding-left: 900px;
}

.last-ele p{
  font-size: 12px;
}















  
  